VITE_SUPABASE_URL=https://bcmcyogofqthicmeqpji.supabase.co
VITE_SUPABASE_ANON_KEYeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjbWN5b2dvZnF0aGljbWVxcGppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNDkwNjksImV4cCI6MjEwMDgyNTA2OX0.EgAqGY_CJrX2o5CVrgqrlHHbtErCKGFnzyUhjL2rkKw
